<div class="container mt-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-4">
        <h3 class="text-center">Sign up</h3>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :coins,
                        required: true,
                        input_html: { autocomplete: "coins" } %>
            <%= f.input :username,
                        required: true,
                        input_html: { autocomplete: "username" } %>
          </div>
            <div class="row justify-content-center">
              <div class="form-actions">
                <br><%= f.button :submit, class:"btn btn-primary btn-md", value: "Create new account" %>
              </div>
            </div>
        <% end %>
    </div>
  </div>
</div>

<div class="footer" style="position: absolute; bottom: 0;">
  <div class="container d-flex space-evenly">
    <i class="fas fa-chess-knight ml-5"></i>
      <div class="container ml-5">
        <h1>About us</h1>
        <p>How to sell</p>
        <p>How to buy</p>
        <p>FAQ</p>
      </div>
  </div>
</div>
