  <div class="topo">

    <div class="batata">
      <%= form_tag products_path, method: :get do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search a product here"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>

  </div>

<div class="container">



  <div class="pl-0 pt-5" style="font-family: 'Roboto', sans-serif; font-weight: 900; font-size: 25px; line-height: 41px; color: #313131; margin-top: -20px;">
    <p>Featured</p>
  </div>

  <div class="row d-flex justify-content-space-around">
  <% @products.each do |product| %>
    <div class="card text-center col-2 m-3 w-100 pr-0 pl-0 border-white">
      <%= link_to  product_path(product) do %>
        <%= image_tag "placeholder.png", class:"card-img-top" %>
        <div class="card-body">
          <h5 class="card-title" style="font-family: 'Roboto', sans-serif; font-weight: 700; font-size: 18px;"><%= product.name %></h5>
          <p class="card-text" style="font-family: 'Roboto', sans-serif; font-weight: 400; font-size: 16px;"><i class="fas fa-coins" style="color: #e9a003;"></i>

  <%= product.coin_price%>
          </p>
        </div>
      <% end %>
    </div>
  <% end %>

    </div>

  </div>

</div>
