<div class="container">
  <h3>Edit <%= @product.name %>:</h3>
  <%= simple_form_for(product) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :quantity %>
    <%= f.input :coin_price %>
    <%= f.input :category %>
    <%= f.button :submit %>
  <% end %>
</div>

<%#= add the line below to link to this partial %>
<%#= render 'products/edit', user: current_user, product: @product  %>