<div class="container">
  <h3>Edit <%= @product.name %>:</h3>
  <%= simple_form_for(@product) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :quantity, input_html: { min: 1 }  %>
    <%= f.input :coin_price, input_html: { min: 1 }  %>
    <%= f.input :category %>
    <%= f.input :tradable_for %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit %>
  <% end %>
</div>