<div class="container">

  <%
=begin%>
 <div class="navbar-custom">
    <img src="../assets/logo.png" class="logo">
  </div> 
<%
=end%>

  <div class="pl-0 pt-5 mt-3 pb-4 d-flex justify-content-center" style="font-family: 'Roboto', sans-serif; font-weight: 900; font-size: 25px; line-height: 41px; color: #313131;">
    <p>Create new product</p>
  </div>
  <div class="container d-flex justify-content-center">
    <div class="row d-flex justify-content-space-around">
      <%= simple_form_for(@product) do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :quantity, input_html: { min: 1 } %>
        <%= f.input :coin_price, input_html: { min: 1 } %>
        <%= f.input :category %>
        <%= f.submit %>
      <% end %>
    </div>
    <br>
  </div>
</div>
