<!DOCTYPE html>
<html>
  <head>
    <title>Medieval Market</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container">
      <div class="navbar-custom">
        <%= link_to root_path do %>
          <%= image_tag "logo.png", class: "logo" %>
        <% end %>
        <p>
          <% if user_signed_in? %>
          Logged in as <strong><%= link_to "#{current_user.email}", user_path(current_user) %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> |
          <%= link_to 'Sell something', new_product_path %>
        <% end %>
      </p>
      </div>
    </div>
    <%= yield %>
    <div class="footer">

      <div class="container d-flex space-evenly">
        <i class="fas fa-chess-knight ml-5"></i>
        <div class="container ml-5">
          <h1>About us</h1>
          <p>How to sell</p>
          <p>How to buy</p>
          <p>FAQ</p>
        </div>
      </div>
    </div>
  </body>
</html>
